body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-brand{
	height: 80px;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 15px;
}

.login-form {
	margin-top: 10%;
}

.panel-primary .panel-heading {
    background-image: linear-gradient(to bottom,#333 0,#333 100%);
    background-color: #333;
    border-color: #333;
}

.panel-primary {
	border-color: #333;
}